<%- include('head.ejs') %> 
<%- include('header.ejs')%>
<main>
    <% for (const mission of missions) { %> 
        <ul class="my-6 text-center">
 <li class="font-bold">Missions: <%= mission.title %></li>
 <li>Description: <%= mission.description %></li>
 <li>Nom de code: <%= mission.codename %></li>
 <li>Pays: <%= mission.id_origin %></li>
 <li>Planque: <%= mission.id_hideout %></li>
 <li>Agent: <%= mission.id_agent %></li>
 <li>Contact: <%= mission.id_contact %></li>
 <li>Cible: <%= mission.id_target %></li>
 <li>Type: <%= mission.type %></li>
 <li>Statut: <%= mission.status %></li>
 <li>Date de début: <%= mission.start_date %></li>
 <li>date de fin: <%= mission.end_date %></li>
        </ul>
 <% } %>
</main>
<footer></footer>
</body>
</html>