<%- include('head.ejs')  %> 
<body>
    <%- include('./header') %> 
    <main class="my-8 mx-8">
      <% for (const mission of missions) { %> 
        <ul class="my-6 text-center">
 <li class="font-bold">Missions: <%= mission.title %></li>
 <li>Description: <%= mission.description %></li>
 <li>Nom de code: <%= mission.codename %></li>
 <li>Pays: <%= mission.nationality %></li>
 <li>Planque: <%= mission.hideout %></li>
 <li>Agent: <%= mission.agent %></li>
 <li>Contact: <%= mission.contact %></li>
 <li>Cible: <%= mission.target %></li>
 <li>Type: <%= mission.type %></li>
 <li>Statut: <%= mission.status %></li>
 <li>Date de début: <%= mission.start_date %></li>
 <li>Date de fin: <%= mission.end_date %></li>
        </ul>
        <% } %>
    </main>
    <footer></footer>
  </body>
</html>
